table {
  width: 100%;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
}

td,
th {
  width: 15%;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.username {
  width: 100%;
}

.sex {
  width: 30%;
  height: 20px;
  float: left;
}

.date {
  width: 40%;
  height: 20px;
  float: right;
}

.ep {
  width: 60%;
  height: 20px;
  float: left;
}

.type {
  width: 40%;
  ;
  height: 20px;
  float: left;
}

.out {
  float: right;
}

.s-d {
  margin-top: 50px;
}

.ct {
  float: left;
}

.dt {
  float: right;
}

.e-t {
  margin-top: 170px;
}

.phone {
  margin-top: 30px;
}

.ac{
  width: 20px;
  height: 20px;
}

.p-button-danger{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}