<div  [ngStyle]="{backgroundColor:'var(--bluegray-500)'}" class="footer">
    <div class="row">
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
          
        </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

    </div>  
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="content-footer">
            <h3 > Demo for project </h3>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon [ngStyle]="{backgroundColor:'var(--teal-400'}" >account_circle</mat-icon>
            </button>
            <span>:Lê Kim Tân</span>
          </div>
    </div>
    </div> 
  
