<ng-container *ngIf="isLoading; else notLoading">
    <div class="load">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-container>
<ng-template #notLoading>

 
        <div class="flex align-items-center justify-content-between">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Search..." [(ngModel)]="searchInput">
            </span>
        </div>
    
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let product of dataSource| paginate: { itemsPerPage: 6, currentPage: p, totalItems: total } | filter:searchInput">
                <div class="card col-md-3">
                    <img  [src]="product.image" style="text-align: center;" width="50" alt="" [alt]="product.name" class="shadow-4">
                    
                    <h1 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                        {{product.name}}</h1>
                  
                    <p><strong>Price:</strong> {{product.current_price | currency}}</p>
                    <button pButton pRipple label="Details" icon="pi pi-plus" (click)="gotoDetails(product)"
                                class="p-button-success mr-2"></button>
                </div>
            </ng-container>
            <div class="page"><pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls> </div>
        </div>
    </div>
</ng-template>
<p-toast></p-toast>