mat-form-field {
    width: 100%;
}
.ra_group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .ra_button {
    margin: 5px;
  }
  .sex{
    float: left;
  }
  .date{
    float: right;
  }
  .ep{
    float: left;
  }
  .type{
    float: right;
    margin-right: 30px;
  }
  .group-b{
    margin-top: 200px;
  }